body {
  text-align: center;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #42a5f5;
  text-align: center;
  font-size: 50px;
}
form {
  margin-left: 5px;
  text-align: center;
}
label {
  font-size: 20px;
  margin-bottom: 1px;
}
ul,
.date-time {
  text-align: left;
  font-size: 25px;
  color: white;
  list-style-type: none;
  line-height: 1;
  padding: 0;
}
li small {
  font-size: 15px;
}
div.row {
  color: #ab47bc;
}
.hi-lo {
  font-size: 13px;
}
.container {
  max-width: 700px;
}
div.card {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border: 1px solid #42a5f5;
  border-radius: 15px;
}
div.row h3 {
  color: #ab47bc;
  text-align: right;
  font-size: 70px;
  padding: 10px;
  line-height: 15px;
  margin: 0 2px 0;
}

div.fri,
.sat,
.sun,
.mon,
.tue {
  margin: 0 auto;
  display: block;
  color: white;
  font-size: 29px;
}
.btn {
  margin: 5px 2px;
  background: #a6c1ee;
}
.btn:hover {
  background: #fbc2eb;
}
.future-weather {
  color: #ffff;
  text-align: left;
  font-size: 30px;
  margin: 0 0 5px;
}

.weather-details {
  text-align: Left;
  margin: 0 2px 0 65px;
}
