body {
  text-align: center;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #42a5f5;
  text-align: center;
  font-size: 50px;
}
form {
  margin-left: 5px;
  text-align: center;
}
label {
  font-size: 20px;
  margin-bottom: 1px;
}
img {
  margin-left: 1px;
}
a {
  color: #42a5f5;
  cursor: default;
  text-decoration: none;
}
ul,
.date-time {
  text-align: left;
  font-size: 25px;
  color: white;
  list-style-type: none;
  line-height: 1;
  padding: 0;
}
li small {
  font-size: 15px;
}
div.row {
  color: #ab47bc;
}
.hi-lo {
  font-size: 13px;
}
.container {
  max-width: 700px;
}
div.card {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border: 1px solid #42a5f5;
  border-radius: 15px;
}
h3 {
  color: #ab47bc;
  text-align: right;
  font-size: 70px;
  padding: 5px;
  line-height: 15px;
  margin-right: 10px;
}
#descrip {
  text-transform: capitalize;
}

.btn {
  margin: 5px 2px;
  background: #a6c1ee;
}
.btn:hover {
  background: #fbc2eb;
}
div.future-weather {
  color: #ffff;
  text-align: left;
  font-size: 18px;
  margin: 25px 0 5px;
}

.weather-details {
  text-align: Left;
  margin: -3px 2px 10px 10px;
}
.active {
  color: #ab47bc;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #ab47bc;
}
#forecast {
  color: white;
  text-align: center;
  width: 95%;
}
.clearfix {
}
